# Tells the configuration system NOT to search for config files in the parent
# directories
# A good practice to add this property to the root of your workspace or project
# By default, its value is false
config.stopBubbling = true

lombok.anyconstructor.addconstructorproperties = false
lombok.addLombokGeneratedAnnotation = true
lombok.experimental.flagUsage = WARNING
lombok.addSuppressWarnings = false
# lombok.accessors.fluent = true

lombok.copyableAnnotations += springlab.service.CoffeeBrewing
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value